/* TABLE */

h1 {
    text-align: center;
}

.tab-con {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #3f4066;
    color: rgb(228, 222, 222);
}

th,
td {
    border: 2px solid #000000;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

td {
    width: 10rem;
}


/* CARD */

.container {
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    padding: 2rem;
    padding-top: 3rem;
}

.card {
    width: 20rem;
    background-color: #3f4066;
    color: rgb(228, 222, 222);
    padding: .7rem;
    text-align: center;
    box-shadow: 10px 10px #c4c4c4;
    border-radius: 20px;
}

.container .card-name {
    font-size: 1rem;
}

.container .card-job {
    font-size: .8rem;
    padding-bottom: .8rem;
}

.container .card-text {
    padding: 0 1rem 2rem 1rem;
    font-size: .9rem;
    text-align: center;
}

.card-name,
.card-job,
.card-text {
    margin: 1rem 0.5rem;
}

.image {
    margin: 0;
}

.img-profile {
    height: 5cm;
    border: 2px solid #fff;
    border-radius: 8px;
}