.navbar-brand {
    font-family: 'Merriweather', serif;
    font-family: 'Zen Antique Soft', serif;
}

.cards-title {
    text-align: center;
}

.cards-text {
    text-align: justify;
}

.card-img-top {
    height: 200px;
}

.flex-container {
    justify-content: center;
}

